<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ClienteMapper">

<select parameterType="map" id="consultarClientes" resultMap="ClienteResult">
	select
		
		c.nombre as cli_nombre,
		c.documento,
		c.telefono,
		c.direccion,
		c.email,
		c.vetado,
		
		ir.id as itemR_id,
		ir.fechainiciorenta ,
		ir.fechafinrenta ,
		
		i.id as ite_id,
		i.nombre as ite_nombre,
		i.descripcion ,
		i.fechalanzamiento ,
		i.tarifaxdia ,
		i.formatorenta ,
		i.genero ,        
		ti.id as ti_id ,
		ti.descripcion ti_descripcion 

		
		FROM VI_CLIENTES as c 
		left join VI_ITEMRENTADO as ir on c.documento=ir.CLIENTES_documento 
		left join VI_ITEMS as i on ir.ITEMS_id=i.id 
		left join VI_TIPOITEM as ti on i.TIPOITEM_id=ti.id 
</select>
          	

<resultMap type="Cliente" id="ClienteResult" >
    <id property='documento' column='documento'/>
    <result property='nombre' column='cli_nombre'/>
    <result property='telefono' column='telefono'/> 
	<result property='direccion' column='direccion'/> 
	<result property='email' column='email'/>  
	<result property='vetado' column='vetado'/>    
    <collection property='rentados' javaType='ArrayList'  column="itemR_id" resultMap='ItemRentadoResult' />
</resultMap>

<resultMap type='ItemRentado' id='ItemRentadoResult'>
    <id property='id' column='itemR_id'/>
    <result property='fechainiciorenta' column='fechainiciorenta'/>
    <result property='fechafinrenta' column='fechafinrenta'/> 
	<association property="item" javaType="Item" column="ite_id"  resultMap="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ItemMapper.ItemsResult" ></association>
</resultMap>



</mapper>