<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ItemMapper">


    <resultMap type='Item' id='ItemsResult'>
    <id property='propiedad1' column='i.id'/>
    <result property='propiedad2' column='i.nombre'/>
    <result property='propiedad3' column='i.descripcion'/>
	<result property='propiedad4' column='i.fechalanzamiento'/>
    <result property='propiedad5' column='i.tarifaxdia'/>
	<result property='propiedad6' column='i.formatorenta'/>
    <result property='propiedad7' column='i.genero'/>
	<association property="propiedad8" javaType="TipoItem"></association> 
</resultMap>


    
</mapper>